<h2>
  <%= @user.name ? @user.name : @user.email %>
</h2>
<br>
<% if policy(Project).new? %>
<%= link_to 'New Project', new_project_path %>
<% end -%>

<h4>My Projects</h4>
<hr>
<% if @user.projects.count > 0 %>
<% @user.projects.each do |project| %>
  <%= render 'projects/project', project: project %>
  <% end %>
<% end %>
