@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Projects
@import "projects";
// Comments
@import "comments";

$background-grey: #eff3f7;
$button-red: #fa0f3a;
$font-size: 12px;
$icon-grey: #676166;
$nav-blue: #093ac9;

body{
  padding-top: 110px;
  background-color: $background-grey;
}

// Sign up validation errors
#error_explanation{
  color: black;
  margin-bottom: 20px;
  h2{
    text-align: center;
    color: red;
    font-weight: 600;
    font-size: 18px;
  }
  ul{
    padding-left: 25px;
    text-align: left;
    color: right;
  }
}

// Alerts
.alert-alert {
  border: 2px solid white;
  background-color: red;
  color: white;
  text-align: center;
  font-weight: 500;
}
.alert-notice {
  border: 2px solid white;
  background-color: rgb(176, 73, 207);
  color: white;
  text-align: center;
  font-weight: 500;
}

// Navbar
.navbar {
  border-radius: 0px;
  background-color: $nav-blue;
  border: none;
  .navbar-brand{
    font-size: 16px;
    color: white;
    font-weight: 700;
    padding-left: 20px;
  }
  li > a#nav-link{
    color: white;
    font-size: $font-12;
    padding: 8px 10px;
    margin-left: 5px;
    &:hover{
      background-color: #073186;
    }
  }
  li > a#nav-link.current{
    color: white;
    font-size: $font-12;
    padding: 8px 10px;
    margin-left: 5px;
    text-decoration: underline;
    //background-color: #073186;
  }
  #new-project-btn{
    background-color: $button-red;
    color: white;
    font-size: $font-12;
    padding: 8px 45px;
    margin-left: 20px;
    &:hover{
      background-color: #dd0d33;
    }
  }
  #sign-in-btn{
    background-color: #073795;
    color: white;
    font-size: $font-12;
    padding: 8px 20px;
    margin-right: 20px;
    &:hover{
      background-color: #073186;
    }
  }
}

// Sign in/up pages
.sign-in-box{
  background-color: white;
  text-align: center;
  border: 1px solid $icon-grey;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  box-shadow:  0 0 10px lightgray;
  .sign-in-title{
    font-weight: 800;
    color: $icon-grey;
  }
  div{
    margin-bottom: 10px;
    input:-webkit-autofill {
      box-shadow: 0 0 0px 100px white inset;
      -webkit-box-shadow: 0 0 0px 100px white inset;
    }
    input#user_email, #user_password, #user_password_confirmation, #user_name {
      width: 80%;
      padding: 2px 5px;
      border: 1px solid lightgray;
    }
  }
  .sign-in-btn{
    margin-bottom: 5px;
    border: none;
    width: 80%;
    color: white;
    border-radius: 10px;
    padding: 8px;
    background-color: $button-red;
    &:hover{
      background-color: #dd0d33;
    }
    &:focus{
      outline: none;
    }
  } 
  .sign-up-btn{
    margin-top: 5px;
    border: none;
    width: 80%;
    color: white;
    border-radius: 10px;
    padding: 8px;
    background-color: $button-red;
    &:hover{
      background-color: #dd0d33;
    }
    &:focus{
      outline: none;
    }
  }
  .fb-login-btn{
    margin-bottom: 10px;
    border: none;
    width: 80%;
    color: white;
    border-radius: 10px;
    padding: 8px;
    background-color: #4C69BA;
    &:hover{
      background-color: #435ea8;
    }
    &:focus{
      outline: none;
    }
  }
}

// Edit user pg (yet to link up)
.edit-user{
  form#edit_user{
    padding: 0px 20px;
    width: 100%;
    margin: 0px;
    .field{
      margin: 15px;
    }
    #user_email, 
    #user_name,
    #user_password, 
    #user_password_confirmation, 
    #user_current_password{
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 2px;
      padding: 6px 12px;
    }
    #update-user-btn{
      border: 1px solid $button-red;
      background-color: $button-red;
      padding: 4px 16px;
      border-radius: 3px;
      color: white;
      text-align: center;
      font-size: $font-12;
      font-weight: 400;
      &:hover{
        background-color: #dd0d33;
      }
      &:focus{
        outline: none;
      }
    }
  }
  hr{
    border-color: black;
  }
  #delete-acc-btn{
    border: 1px solid $button-red;
    background-color: $button-red;
    padding: 4px 16px;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: $font-12;
    font-weight: 400;
    &:hover{
      background-color: #dd0d33;
    }
    &:focus{
      outline: none;
    }
  }
}

