$background-grey: #eff3f7;
$icon-grey: #676166;
$button-red: #fa0f3a;
$font-12: 12px;

.comments-section{
  margin: 0px 25px 20px 25px;
  background-color: #ffc7d2;
  box-shadow:  0 0 10px lightgray;
  border-radius: 5px;
  .comment-new-box{
    padding: 20px 30px;
    .comment-textarea{
      border: none;
      display: inline;
      padding: 4px 6px;
      border-radius: 2px;
      min-width: 85%;
      min-height: 40px;
      max-width: 85%;
      margin-right: 20px;
      font-size: $font-12;
    }
    .comment-submit-btn{
      float: right;
      border: 1px solid $button-red;
      display: inline;
      background-color: $button-red;
      padding: 2px 10px;
      border-radius: 3px;
      color: white;
      font-size: $font-12;
      font-weight: 400;
      &:focus{
        outline: none;
      }
    }
    .comment-error-msg{
      font-size: $font-12;
      font-weight: 500;
      color: red;
    }
  }
  .comment{
    border-top: 1px solid white;
    padding: 15px 30px;
    .comment-date,
    .comment-user{
      margin-right: 12px;
      margin-left: 6px;
      color: $icon-grey;
      font-size: $font-12;
      text-decoration: underline;
    }
    .modify-comment-btns-div{
      display: inline-block;
      float: right;
      .comment-edit-btn,
      .comment-delete-btn{
        color: $icon-grey;
        margin-left: 10px;
        cursor: pointer;
        &:hover{
          color: white;
        }
      }
    }
    .comment-body{
      margin: 10px 0px 0px 0px;
      display: inline-block;
      font-size: $font-12;
    }
    .comment-textarea-edit{
      min-width: 85%;
      min-height: 40px;
      max-width: 85%;
      font-size: $font-12;
      border: none;
      border-radius: 2px;
      display: inline;
      padding: 2px 5px;
      margin-top: 5px;
    }
    .comment-update-btn {
      margin-top: 5px;
      float: right;
      background-color: $button-red;
      padding: 2px 10px;
      border-radius: 3px;
      color: white;
      font-size: $font-12;
      font-weight: 400;
      border: 1px solid $button-red;
      &:focus{
        outline: none;
      }
    }
  }
}