$background-grey: #eff3f7;
$button-red: #fa0f3a;
$icon-grey: #676166;
$font-12: 12px;
$effort-text: #858d99;

#no-projects-notice{
  font-size: 22px;
  color: $icon-grey;
}

.project-box{
  padding-bottom: 15px;
  box-sizing: border-box;
  margin: 0px 25px 20px 25px;
  box-shadow:  0 0 10px lightgray;
  border-radius: 5px;
  background-color: white;
  .project-header, .project-subheader {
    display: flex;
    flex: 1;
    //border-radius: 5px 5px 0 0;
    padding: 12px 20px 10px 20px;
    border-bottom: 1px solid #e1e8ee;
    width: 100%;
    .project-name {
      display: inline;
      font-size: 24px;
      font-weight: 600;
      color: #404140;
      width: 50%;
      .project-edit-name{
        padding: 0px 5px;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 2px;
      }
    }
    .project-status{
      text-align: right;
      width: 50%;
      
      .status-label {
        display: inline-block;
        font-size: $font-12;
        border: 1px solid;
        padding: 6px 0px 4px 0px;
        margin: 3px 0px;
        border-radius: 2px;
        width: 246px;
        text-align: center;
      }
      .project-edit-status{
        display: inline-block;
        margin: 9px 0px 8px 0px;
      }
    }
  }
  .project-subheader {
    border: none;
    border-radius: 0px;
    .project-info {
      display: inline;
      color: #404140;
      width: 50%;
      .project-user,
      .project-date{
        margin-right: 12px;
        margin-left: 6px;
        color: $icon-grey;
        font-size: $font-12;
        text-decoration: underline;
      }
    }
    .project-actions {
      width: 50%;
      text-align: right;
      .project-edit-btn,
      .project-delete-btn{
        color: $icon-grey;
        margin-left: 10px;
        cursor: pointer;
        &:hover{
          color: black;
        }
      }
      .project-update-btn{
        border: 1px solid $button-red;
        background-color: $button-red;
        padding: 2px 10px;
        border-radius: 3px;
        color: white;
        font-size: $font-12;
        font-weight: 400;
        &:focus{
          outline: none;
        }
      }
    }
  }
  .project-body{
    min-height: 125px;
    border-radius: 0 0 5px 5px;
    padding: 4px 20px 10px 20px;
    display: flex;
    flex: 1;
    .description-width{
      display: inline-block;
      width: 55%;
      margin-right: 51px;
      .project-description{
        display: inline;
        font-size: $font-12;
        }
        .project-edit-description{
          padding: 4px 6px;
          border-radius: 2px;
          width: 100%;
          max-width: 400px;
          max-height: 300px;
          height: 115px;
          font-size: $font-12;
          border: 1px solid lightgray;
        }
      }
      .effort-level-box{
        max-height: 105px;
        background-color: $background-grey;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #c9d6df;
        .es-effort-div{
          display: inline-block;
          border-right: 1px solid #c9d6df;
          padding: 15px;
          width: 122px;
          max-height: 103px;
          .effort-title{
            display: block;
            font-size: $font-12;
            font-weight: 600;
            color: $effort-text;
          }
          .project-es-effort{
            display: block;
            font-size: 34px;
            font-weight: 700;
            color: $effort-text;
          }
        }
      .ac-effort-div{
        max-height: 103px;
        padding: 15px;
        width: 122px;
        display: inline-block;
        .effort-title{
          display: block;
          font-size: $font-12;
          font-weight: 600;
          color: $effort-text;
        }
        .project-ac-effort{
          display: block;
          font-size: 34px;
          font-weight: 700;
          color: green;
          .project-edit-ac-effort{
            width: 50px;
            color: black;
            font-size: 24px;
            padding: 0px 5px;
            border: 1px solid lightgray;
            border-radius: 2px;
          }
        }
      }
    }
  }
  .project-errors{
    margin-right: 20px;
    margin-left: 20px;
    .project-error-msg{
      color: red;
      font-size: $font-12;
      font-weight: 500;
    }
  }
}



/*


.project-box{
  padding-bottom: 15px;
  box-sizing: border-box;
  margin: 0px 25px 20px 25px;
  box-shadow:  0 0 10px lightgray;
  border-radius: 5px;
  background-color: white;
  .project-header, .project-subheader{
    display: flex;
    flex: 1;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #e1e8ee;
    //background-color: white;
    width: 100%;
    .project-name {
      display: inline;
      font-size: 24px;
      font-weight: 600;
      color: #404140;
      width: 50%;
      .project-edit-name{
        padding: 0px 5px;
        width: 100%;
        border-radius: 2px;
        border: 1px solid lightgray;
      }
    }
    .project-status{
      text-align: right;
      width: 50%;
      .status-label {
        display: inline-block;
        font-size: $font-12;
        border: 1px solid;
        padding: 6px 8em 4px 8em;
        margin: 3px 0px;
        border-radius: 2px;
      }
      .project-edit-status{
        display: inline-block;
        margin: 9px 0px 8px 0px;
      }
    }
  }
  .project-subheader {
    border: none;
    border-radius: 0px;
    .project-info {
      display: inline;
      color: #404140;
      width: 50%;
      .project-user,
      .project-date{
        margin-right: 12px;
        margin-left: 6px;
        color: $icon-grey;
        font-size: $font-12;
        text-decoration: underline;
      }
    }
    .project-actions {
      width: 50%;
      text-align: right;
      .project-edit-btn,
      .project-delete-btn{
        color: $icon-grey;
        margin-left: 10px;
        cursor: pointer;
        &:hover{
          color: black;
        }
      }
      .project-update-btn{
        border: 1px solid $button-red;
        background-color: $button-red;
        padding: 2px 10px;
        border-radius: 3px;
        color: white;
        font-size: $font-12;
        font-weight: 400;
        &:focus{
          outline: none;
        }
      }
    }
  }

  .project-body{
    min-height: 135px;
    border-radius: 0 0 5px 5px;
    padding: 4px 20px 15px 20px;
    display: flex;
    flex: 1;
    .description-width{
      display: inline-block;
      width: 55%;
      margin-right: 51px;
      .project-description{
        font-size: $font-12;   
      }
      .project-edit-description{
        padding: 4px 6px;
        border-radius: 2px;
        width: 100%;
        height: 115px;
        font-size: $font-12;
        border: 1px solid lightgray;
      }
    }
    .effort-level-box{
        background-color: $background-grey;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #c9d6df;
        max-height: 105px;
        .es-effort-div{
          position: relative;
          display: inline-block;
          border-right: 1px solid #c9d6df;
          //padding: 15px;
          min-width: 122px;
          height: 100%;
          .effort-title{
            position:absolute;
            top: 15px;
            left: 50%;
            margin-left: -40px;
           
            width: 80px;
            //display: block;
            font-size: $font-12;
            font-weight: 600;
            color: $effort-text;
          }
          .project-es-effort{
            position:absolute;
            bottom: 10px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            //display: block;
            font-size: 32px;
            font-weight: 700;
            color: $effort-text;
          }
        }
      .ac-effort-div{
        position:relative;
        //padding: 15px;
        min-width: 122px;
        display: inline-block;
        height: 100%;
        .effort-title{
          position:absolute;
          top: 15px;
          left: 50%;
          margin-left: -40px;
          width: 80px;
          font-size: $font-12;
          font-weight: 600;
          color: $effort-text;
        }
        .project-ac-effort{
          position:absolute;
          bottom: 10px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          //display: block;
          font-size: 32px;
          font-weight: 700;
          color: green;
          .project-edit-ac-effort{
            border-radius: 2px;
            border: 1px solid lightgray;
            width: 50px;
            color: black;
            font-size: 24px;
            padding: 0px 5px;
          }
        }
      }
    } 
  }
  .project-errors{
    margin-right: 20px;
    margin-left: 20px;
    
    .project-error-msg{
      color: red;
      font-size: $font-12;
      font-weight: 500;
    }
  }
}
*/
.new_project{
  .form-description{
    textarea{
      min-width: 100%;
      max-width: 100%;
    }
  }
  .form-status, 
  .form-es-level, 
  .form-published{
    input, 
    select{
      margin-left: 10px;
    }
  }
  .new-project-submit{
    border: 1px solid $button-red;
    background-color: $button-red;
    padding: 4px 16px;
    border-radius: 3px;
    color: white;
    font-size: $font-12;
    font-weight: 400;
    &:focus{
      outline: none;
    }
  }
}