$background-grey: #eff3f7;
$button-red: #fa0f3a;
$icon-grey: #676166;
$font-12: 12px;

#no-projects-notice{
  font-size: 22px;
  color: $icon-grey;
}
.project-box{
  box-sizing: border-box;
  margin: 0px 25px 20px 25px;
  box-shadow:  0 0 10px lightgray;
  border-radius: 5px;


  .project-header, .project-subheader {
    display: flex;
    flex: 1;
    border-radius: 5px 5px 0 0;
    padding: 15px 20px 10px 20px;
    border-bottom: 1px solid #e1e8ee;
    background-color: white;
    width: 100%;
    .project-name {
      display: inline;
      font-size: 24px;
      font-weight: 600;
      color: #404140;
      width: 50%;
      .project-edit-name{
        padding: 0px 5px;
        width: 100%;
      }
    }
    .project-status{
      text-align: right;
      width: 50%;
      margin-right: 4px;

      .status-label {
        display: inline-block;
        font-size: $font-12;
        border: 1px solid;
        padding: 6px 8em 4px 8em;
        margin: 3px 0px;
        border-radius: 2px;
      }
      .project-edit-status{
        display: inline-block;
        margin: 9px 0px 8px 0px;
      }
    }
  }
  .project-subheader {
    border: none;
    border-radius: 0px;
    .project-info {
      display: inline;
      color: #404140;
      width: 50%;
      .project-user,
      .project-date{
        margin-right: 12px;
        margin-left: 6px;
        color: $icon-grey;
        font-size: $font-12;
        text-decoration: underline;
      }
    }
    .project-actions {
      margin-right: 4px;
      width: 50%;
      text-align: right;
      .project-edit-btn,
      .project-delete-btn{
        color: $icon-grey;
        margin-left: 10px;
        cursor: pointer;
        &:hover{
          color: black;
        }
      }
      .project-update-btn{
        border: 1px solid $button-red;
        background-color: $button-red;
        padding: 2px 10px;
        border-radius: 3px;
        color: white;
        font-size: $font-12;
        font-weight: 400;
      }
    }
  }

  .project-body{
    min-height: 150px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    padding: 4px 20px 30px 20px;
    display: flex;
    flex: 1;

    .description-width{
      display: inline-block;
      width: 62%;

      .project-description{
        display: inline;
        font-size: $font-12;

          .project-edit-description{
            padding: 2px 5px;
            border-radius: 2px;
            width: 100%;
            height: 112px;
            font-size: $font-12;
          }
        }
      }
      .effort-level-box{
        background-color: $background-grey;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #c9d6df;
        .es-effort-div{
          display: inline-block;
          border-right: 1px solid #c9d6df;
          padding: 15px;
          width: 122px;
        .effort-title{
          display: block;
          font-size: $font-12;
          font-weight: 600;
          color: #858d99;
        }
        .project-es-effort{
          display: block;
          font-size: 34px;
          font-weight: 700;
          color: #858d99;
        }
      }
      .ac-effort-div{
        padding: 15px;
        width: 122px;
        display: inline-block;
        .effort-title{
          display: block;
          font-size: $font-12;
          font-weight: 600;
          color: #858d99;
        }
        .project-ac-effort{
          display: block;
          font-size: 34px;
          font-weight: 700;
          color: green;
          .project-edit-ac-effort{
            width: 50px;
            color: black;
            font-size: 24px;
            padding: 0px 5px;
          }
        }
      }
    }
  }
}
