<% if form.errors.any? %>
    <div class="project-error-explanation">
        <h4><%= pluralize(form.errors.count, "error") %> prevented this project from being saved:</h4>
        
        <% form.errors.full_messages.each do |msg| %>
            <p class="project-error-item"><i class="fa fa-warning"></i> <%= msg %></p>
        <% end %>
        
    </div>
<% end %>